<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <appSettings>
        <add key="UsePreErrataEffects" value="false"/>
        <add key="SCRIPTZIP" value="C:\MDPro3\Data\script.zip"/>
    </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
    </startup>
</configuration>
